html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 175px auto 75px;
  grid-template-areas: "heading" "main" "footer";
  margin: 0;
  height: 100vh;
}

header {
  grid-area: heading;
  background-color: lightblue;
}

main {
  grid-area: main;
  background-color: lightcoral;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
}

/*#region SponsorsList*/
#sponsorsArea {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 80.9vh;
  display: flex;
  flex-flow: column;
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
}

article {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 250px 125px;
  grid-template-areas: "description sponsorPicture";
  border-bottom: 1px solid lightgrey;
}

article:hover {
  background-color: rgb(253, 239, 239);
}

.contain {
  background-color: #fff;
  height: 125px;
  width: 375px;
}

.contain h2 {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.contain p {
  font-size: 12px;
  margin: 0;
  padding: 3px 0 3px 0;
}

.description {
  margin: 10px;
  grid-area: description;
}

a {
  text-decoration: none;
  color: black;
}

.phoneNumber {
  margin-top: 15px;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.imageContainer {
  grid-area: sponsorPicture;
  background-position: center center;
  background-size: cover;
  margin: 10px;
}
/*#endregion SponsorsList*/

/*#region Details*/
#fullDescription {
  margin: 10px;
  padding: 15px;
  border-radius: 25px;
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
}

#detailHeader {
  display: flex;
  justify-content: space-between;
}

#fullDescription h1 {
  margin: 0;
}

/*#region Socialmedia*/
.socialMedia {
  padding: 0;
}

.socialMedia li {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.socialMedia li:hover {
  background-color: orangered;
}

.big {
  font-size: 30px;
}

/*#endregion Socialmedia*/

#close {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.2);
}

#close:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

#detail .phoneNumber {
  font-size: 100%;
}

#omschrijving {
  padding: 25px 0 25px 0;
  max-width: 400px;
  text-align: center;
}

/*#region Picture Slider*/
#picSlider {
  grid-area: picSlider;

  overflow: hidden;
  max-height: 700px;
}

/* Slideshow container */
.carouselPic {
  min-height: 400px;
  max-height: 400px;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  max-height: 615px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0px;
  border-radius: 3px 3px 3px 3px;
  z-index: 1000;
}

.prev {
  left: 0px;
  border-radius: 3px 3px 3px 3px;
}

.prev:hover,
.next:hover {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(242, 242, 242, 0.603);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}
/*#endregion Picture Slider*/
/*#endregion Details*/

footer {
  grid-area: footer;
  background-color: lightblue;
}

.fade {
  animation: fade 0.7s;
}

.fadeIn {
  animation: fadeIn 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1900px) {
  .carouselPic {
    min-height: 140px;
    max-height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #omschrijving {
    padding: 5px 0 5px 0;
    max-width: 400px;
    text-align: center;
  }

  .next {
    right: -5px;
    border-radius: 3px 3px 3px 3px;
    z-index: 1000;
  }

  .prev {
    left: -5px;
    border-radius: 3px 3px 3px 3px;
  }

  #fullDescription {
    margin: 10px;
    padding: 15px;
    border-radius: 25px;
    background-color: #fff;
    width: 100%;
    max-width: 340px;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.75);
  }
}

@media screen and (min-width: 1920px) and (max-width: 1920px) {
  .carouselPic {
    min-height: 240px;
    max-height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
