html {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/Achtergrond.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #edf0f1;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto 95px;
  grid-template-areas: "navigatie" "inhoud" "footer";
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  grid-area: navigatie;
  background-color: #24252a;
  position: fixed;
  width: 100%;
}

main {
  display: flex;
  grid-area: inhoud;
  background-color: rgba(255, 255, 255, 0.027);
  margin: 0 10% 0 10%;
  padding: 2% 5% 2% 5%;
  align-content: flex-end;
  flex-flow: column nowrap;
}

footer {
  grid-area: footer;
  background-color: #24252a;
}

a {
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: #0088a9;
}

h1 {
  margin: 0 0 25px 0;
  text-align: center;
}

/*#region Home */

#profielFoto {
  min-width: 300px;
  width: 45%;
  border-radius: 20%;
  box-shadow: 0 0 15px 10px #141414;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imgContainer,
.textContainer {
  text-align: center;
}

#flex-container {
  margin-top: 50px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
}

.contain:hover {
  transform: scale(1.1);
}

.contain h2 {
  margin: 0;
  text-align: center;
  height: 50px;
}

.contain img {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contain {
  padding-top: 15px;
  background-color: #24252a;
  height: 250px;
  width: 308px;
  margin: 20px;
  margin-bottom: 150px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 5px black;
}

/*#endregion Home */

/*#region Hobbys */

.smallMarge {
  margin-bottom: 25px;
}

#aquariumFoto {
  min-width: 300px;
  width: 35%;
  border-radius: 20%;
  box-shadow: 0 0 15px 10px #141414;
  margin-top: 20px;
  margin-bottom: 20px;
}

#wowFoto {
  min-width: 300px;
  width: 45%;
  border-radius: 20%;
  box-shadow: 0 0 15px 10px #141414;
  margin-top: 20px;
  margin-bottom: 20px;
}

#timeStories {
  min-width: 300px;
  width: 85%;
  border-radius: 20%;
  box-shadow: 0 0 15px 10px #141414;
}

#mansionOfMadness {
  min-width: 300px;
  width: 100%;
  border-radius: 20%;
  box-shadow: 0 0 15px 10px #141414;
}

#denkPuzzel {
  min-width: 300px;
  width: 45%;
  border-radius: 20%;
  box-shadow: 0 0 15px 10px #141414;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contain2 {
  padding-top: 15px;
  height: auto;
  text-align: center;
  margin-bottom: 100px;
}

.hobbyImage {
  margin: 0 50px 0 50px;
  width: 500px;
}

.hobbyText1 {
  width: 700px;
  padding-top: 40px;
}

.hobbyText2 {
  width: 700px;
  padding-top: 30px;
}

/*#endregion Hobbys */

/*#region Opleiding */
#cisco {
  min-width: 300px;
  width: 45%;
  border-radius: 20%;
  box-shadow: 0 0 15px 10px #141414;
}

/*#endregion Opleiding */

/*#region Navigatie */
li,
a {
  font-weight: bold;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

.huidigePagina {
  color: #0088a9;
}

/*#endregion Navigatie */

/*#region Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1% 0 1%;
}

footer p {
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

footer p:hover {
  color: #0088a9;
  cursor: default;
}

#logo {
  width: 3%;
  margin: 5px 10px 5px 10px;
}

/*#endregion Footer */
